
//Selectors

* {
  box-sizing: border-box;
}

:focus{
	outline: none;
}

html{
	font-size: 10px;
	font-family: notoregular;
	scroll-behavior: smooth;
}

body{
	color: $bleu;
	font-family: notoregular;
}

h1,
.planFormLabel{
	font-family: lorabold;
	font-size: 5rem;
	line-height: 5.2rem;
}

h2{
	font-family: oswaldregular;
	font-size: 2.4rem;
	line-height: 2.6rem;
	text-transform: uppercase;
}

h3, a{
	font-family: notobold;
	font-size: 1.5rem;
}

p{
	font-family: notoregular;
	font-size: 1.4rem;
	line-height: 2rem;
}

label,
.fakelabel{
	font-family: notoregular;
	font-size: 1.3rem;
	line-height: 3rem;
}


h4, 
.select-selected,
.fakeh4{
	font-family: notobold;
	font-size: 1.4rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
	color: $bleu;
}

nav{
	z-index:99;
}

section{
	padding-bottom: 70px!important;
}

::selection{
	background-color: $rose;
	color: $bleu;
}

//media queries

@media (max-width: 575.98px) { 

h1 {
	font-size: 3.2rem;
	line-height: 4.2rem;
}

}

@media (max-width: 767.98px) { 

h1, h2, h3, h4, a, p, strong{
	text-align: center;
}

}
	 
@media (max-width: 991.98px) { 

h1 {
	font-size: 3.6rem;
	line-height: 4rem;
}

	 }