    <footer class="footerContainer">
	    <div class="container">
		    <div class="row">
			    <div class="col">
				    <div class="footerContainer__separator">
	    			</div>
			    </div>
		    </div>
		    <div class="row">
			    <div class="col-md-6 contentLeft marginBottomCol">
				    <h2 class="contentLeft__mainTitle">JE DÉPENSE LOCAL, UNE INITIATIVE D’ABRICOTINE !</h2>
				    <p class="contentLeft__copy"> Comprenez les motifs qui ont mené à ce regroupement et découvrez Abricotine, l’entrepreneure derrière «Je dépense local».</p>
				    <a href="#"  class="contentLeft__copy--txtVert">Voir toutes les entreprises »</a>
			    </div>
			    <div class="col-md-6 contentLeft">
				    <h2 class="contentLeft__mainTitle">VOUS AVEZ UNE QUESTION, UN SOUCIS ?</h2>
				    <p class="contentLeft__copy"> N’hésitez pas à communiquer avec nous, que vous soyez un amoureux des artisants locaux ou que vous possédiez une entreprise d’ici. </p>
				    <a href="mailto:webmaster@example.com"  class="contentLeft__copy--txtVert">Communiquez avec nous »</a>
			    </div>
		    </div>
		    <div class="row footerContainer__facebook">
			    <div class="col-sm d-flex footerContainer__facebook__txt">
				    <img alt="facebook" class="facebookLogo" src="assets/svg/facebook.svg">
				    <h2 class="contentLeft__mainTitle--white">
					    PARCEQU’UNE BONNE PARTIE DE L’ACTION SE PASSE SUR FACEBOOK ! 
				    </h2>
			    </div>
			    <div class="col-sm-5 col-md-4 col-lg-3 d-flex footerContainer__facebook__ctaMain">
				    <a href="https://www.facebook.com/Penserlocal/" class="contentLeft__ctaMain contentLeft__ctaMain--outlinedRose">
					    Suivez-nous »
				    </a>
			    </div>
		    </div>
	    </div>
	    <div class="legalContainer">
		    <div class="container">
			    <div class="row bottomPage">
				    <div class="col">
					    <p> © Penser Local, 2019. |  <a href="#"> Termes et conditions </a></p>
				    </div>
			    </div>
		    </div>
	    </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/flickity.pkgd.min.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/main.js"></script>