<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/flickity.min.css" media="screen">
    <title>Je dépense local</title>
  </head>
  <body class="navMobile--overflowInit">
    <header class="container-sm mainHeader">
		<div class="d-lg-none whiteLogo whiteLogo--mask whiteLogo--zIndex">
			<div class="row">
				<div class="col-2">
					<a href="index">
						<img alt="Je dépense local"  class="logo" src="assets/svg/logoRenverse.svg">
					</a>
				</div>
			</div>
	    </div>
	    <div class="row">
		    <div class="col-2">
			    <a href="index">
			    	<img alt="Je dépense local" class="logo" src="assets/svg/logoCouleur.svg">
			    </a>
		    </div>
		    <nav class="col navDesktop">
			    <div class="d-none d-lg-flex d-xl-flex">
				    <a class="navDesktop__menuItem" href="repertoire">Répertoire des entreprises</a>
{#
				    <a class="navDesktop__menuItem" href="apropos">À propos</a>
				    <a class="navDesktop__menuItem" href="contact">Contactez-nous</a>
#}
				    <div class="navDesktop__separator"></div>
				    <a class="navDesktop__menuItem" href="zone">Zone entreprise</a>
				    <a class="navDesktop__menuItem" href="form">Enregistrer mon entreprise</a>
			    </div>
			    <div class="d-lg-none">
				    <a class="burger" id="burgerCta" href="#">
						<div class="burger__menuLine burger__menuLine--topLine"></div>
						<div class="burger__menuLine burger__menuLine--middleLine"></div>
						<div class="burger__menuLine burger__menuLine--bottomLine"></div>
				    </a>
			    </div>
		    </nav>
		    <div class="d-flex d-lg-none navMobile navMobile--init">
			    <div class="navMobile__spacer"></div>
			    <a class="navMobile__menuItem" href="repertoire">Répertoire des entreprises</a>
{#
				<a class="navMobile__menuItem" href="apropos">À propos</a>
				<a class="navMobile__menuItem" href="contact">Contactez-nous</a>
#}
				<div class="navMobile__separator"></div>
				<a class="navMobile__menuItem" href="zone">Zone entreprise</a>
				<a class="navMobile__menuItem" href="form">Enregistrer mon entreprise</a>
		    </div>
	    </div>
    </header>