{% include '_header.twig' %}
  <body class="navMobile--overflowInit">
    <section>
	    <div class="container-sm contentCenter contentCenter--noTop contentCenter--bgBeige">
		    <img alt="icone_succes" class="image--negativetop" src="assets/svg/succes.svg">
			<h1 class="contentCenter__mainTitle">
			Wouhou ! <br>On a bien reçu vos informations !
			</h1>
			<p>
			Remplir ce formulaire de la façon la plus adéquate et précise possible permettra à vos clients potentiels de mieux vous&nbsp;trouver&nbsp;!  
			</p>		    
	    </div>
    </section>
    {% include '_footer.twig' %}
      </body>
</html>