{% include '_header.twig' %}
  <body class="navMobile--overflowInit">
    <section>
	    <div class="container-sm contentCenter contentCenter--noTop contentCenter--bgBeige">
		    <img alt="icone_entreprise" class="image--negativetop" src="assets/svg/entreprise.svg">
			<h1 class="contentCenter__mainTitle">
			Vous avez une entreprise&nbsp;?<br>Vous êtes à la bonne&nbsp;place&nbsp;!
			</h1>
			<p>
			Jedepenselocal.com se veut d’abord et avant tout un lieu de rassemblement permettant aux internautes québécois un accès facile à l’ensemble des entreprises de leur&nbsp;région.
			</p>		    
	    </div>
	    <div class="container-sm contentCenter contentCenter--noTopMargin contentCenter--bgRose d-none">
		    <a class="navZone__menuItem" href="#">Abonnement</a>
			<a class="navZone__menuItem" href="#">3 novembre</a>
			<a class="navZone__menuItem" href="#">FAQ</a>
	    </div>
	    <div class="container tempTopMargin">
		    <div class="row">
			    <div class="col-md-7">
					<h2 class="contentLeft__mainTitle">Nous avons à coeur le succès des entrepreneurs&nbsp;d’ici</h2>
				    <p class="contentLeft__copy"> 
Les semaines précédent le 3 Novembre, nous déployons beaucoup d’efforts afin de promouvoir la journée «Je dépense local» et mettons de l’avant vos produits et services ainsi que vos offres du 3 Novembre.</p>
			    </div>
			    <div class="col-md-1">
			    </div>
			    <div class="col-md-4">
					<h2 class="contentLeft__mainTitle">CRITÈRES D’ADMISSIBILITÉ</h2>
					<div class="d-flex critere--container">
					    <ul class="contentLeft__copy critere"> 
						    <li> 
						    	<p class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
							    	Votre organisation est établie au Québec
							    </p>
							</li>
						    <li> 
						    	<p class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
							    	Vous êtes une PME 
						    	</p>
							</li>
					    </ul>
					</div>
			    </div>
		    </div>
		    <div class="row">
			    <div class="col-12">
				    <div class="zoneContainer__separator">
	    			</div>
			    </div>
		    </div>
		    <h1 class="contentLeft__mainTitle">
			    Plans d’abonnement
			</h1>
			<p class="contentLeft__copy"> 
				C’est super simple ! Vous n’avez qu’à faire un choix entre nos 2 plans d’abonnement. 
			</p>
			<div class="row">
				<div class="col-md-6 bottom-md-Margin">
					<h2 class="contentLeft__mainTitle">
						La base
					</h2>
					<div class="d-flex plansContainer">
						<div class="bteTab descLeft d-flex">
							<p class="contentCenter">
								Vous serez présent dans notre répertoire, c’est ce qui compte ! Cette option est complètement gratuite et ne vous engage à&nbsp;rien&nbsp;!
							</p>
						</div>
						<div class="bteTab d-flex featureLeft">
							<ul class="contentLeft critere critere"> 
							    <li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Entreprise répertorié dans l’annuaire des 
		entreprises québécoises
								    </h4>
								</li>
							    <li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Page unique pour votre entreprise incluant les
		descriptifs de base:  
							    	</h4>
							    	<ul class="critere--simple">
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Nom
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Logo
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Courte description
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Images de votre entreprise
							    			</h4>
								    	</li>
							    	</ul>
								</li>
						    </ul>
						</div>
						<div class="bteTab">
							<h2 class="contentCenter">
								Gratuit
							</h2>
						</div>
						<form action="form" id="plan">
							<input class="bteTab--linkZone" form="plan" type="submit" name="base" value="Choisir la base">
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="contentLeft__mainTitle">
						L'essentiel
					</h2>
					<div class="d-flex plansContainer">
						<div class="bteTab--cremeNoBord descRight">
							<p class="contentCenter">
								C’est la total&nbsp;!  En plus d’avoir toute l’information concernant votre entreprise affiché dans votre espace sur notre répertoire, nous parlerons de vous sur notre facebook et publierons vos promotions entourant le 3&nbsp;Novembre.
							</p>
						</div>
						<div class="bteTab--creme d-flex featureRight">
							<ul class="contentLeft critere critere"> 
							    <li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Entreprise répertorié dans l’annuaire des 
entreprises québécoises
								    </h4>
								</li>
							    <li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Page unique pour votre entreprise incluant 
les descriptifs de base: 
							    	</h4>
							    	<ul class="critere--simple">
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Nom
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Logo
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Courte description
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Images de votre entreprise
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Adresse (pignon sur rue)
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Adresse web
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Liens vers vos médias sociaux
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Description
							    			</h4>
								    	</li>
								    	<li>
								    		<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
												Affichage de votre promotion du 3 novembre
							    			</h4>
								    	</li>
							    	</ul>
								</li>
								<li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Visibilité sur notre Facebook
								    </h4>
								</li>
								<li> 
							    	<h4 class="contentLeft__copySmMargin contentLeft__copy--leftMobile"> 
								    	Votre promotion du 3 novembre sur 
notre facebook
								    </h4>
								</li>
						    </ul>
						</div>
						<div class="bteTab--creme">
							<h2 class="contentCenter">
								35$ / Année
							</h2>
						</div>
						<form action="form" id="plan">
							<input class="bteTab--linkZone" form="plan" type="submit" name="essentiel" value="Choisir l'essentiel">
						</form>
					</div>
				</div>
			</div>
	    </div>
    </section>
    {% include '_footer.twig' %}
	<script>

//Plans height

$(function() {
	$('.descLeft').matchHeight({
        target: $('.descRight')
    });
    
    $('.featureLeft').matchHeight({
        target: $('.featureRight')
    });
    
    if ($(window).width() < 768) {
    $('.descLeft').matchHeight('remove');
    $('.featureLeft').matchHeight('remove');
  }
});
  
	</script>
      </body>
</html>